# This file is for unifying the coding style for different editors and IDEs
# See editorconfig.org

root = true

# config for Apache Velocity markdown files:
[*.vm]
indent_style = space
indent_size = 4
insert_final_newline = true
end_of_line = lf

[*.sql]
indent_size = 2
# Format SQL keywords in upper case. Also an IntelliJ-only setting.
ij_sql_keyword_case = 2
insert_final_newline = true
end_of_line = lf
